

<div class="container form-body">
    
    
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

      <div class="form-group row">
        <div class="col-sm">
            <h3>Cadastro de fotos</h3>
            <br>
          <mat-form-field appearance="outline">
            <mat-label>Nome da foto</mat-label>
            <input matInput placeholder="Nome da foto"  formControlName="nomeFoto" name="nomeFoto" >
            
            <mat-error *ngIf="formGroup.get('nomeFoto').hasError('required')">É necessário digitar o nome da foto!</mat-error>
            <mat-error *ngIf="formGroup.get('nomeFoto').hasError('minlength')">É necessário um nome com mais de {{ formGroup.get('nomeFoto').errors.minlength.requiredLength }} caracteres.</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm">
          <mat-form-field appearance="outline">
            <mat-label>URL da Foto</mat-label>
            <input matInput placeholder="URL da foto" formControlName="urlFoto"   >
            <mat-error *ngIf="formGroup.get('urlFoto').hasError('required')">É necessário digitar a url da foto!</mat-error>
            <mat-error *ngIf="formGroup.get('urlFoto').hasError('minlength')">É necessário uma url com mais de {{ formGroup.get('urlFoto').errors.minlength.requiredLength }} caracteres.</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm">
          <mat-form-field appearance="outline">
            <mat-label>Autor </mat-label>
            <input matInput placeholder="Nome do autor" formControlName="autor"  >
            <mat-error *ngIf="formGroup.get('urlFoto').hasError('required')">É necessário digitar o nome do autor!</mat-error>
            <mat-error *ngIf="formGroup.get('urlFoto').hasError('minlength')">É necessário um nome com mais de {{ formGroup.get('urlFoto').errors.minlength.requiredLength }} caracteres.</mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="form-group row">
        <div class="col-sm">
          <mat-form-field appearance="outline">
            <mat-label>Descrição da foto</mat-label>
            <input matInput placeholder="Descrição da foto" formControlName="descricao"  >
          </mat-form-field>
        </div>

      </div>

     

        <div class="buttons">
      
          <button type="submit" [disabled]="formGroup.invalid" mat-raised-button color="primary">Enviar</button>  
          
        </div>
    </form>
    

    

    

   
</div>